name: Build Apache Gluten

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  workflow_dispatch: {}

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and push
        uses: docker/build-push-action@v6
        id: image-build
        with:
          push: false
      - name: Copy release packages from image
        run: |
          docker create --name=build-image "${{ steps.image-build.outputs.imageid }}"
          docker cp build-image:/incubator-gluten/package/target/ ./target
      - name: Upload jars
        uses: actions/upload-artifact@65c4c4a1ddee5b72f698fdd19549f0f0fb45cf08 # v4.6.0
        with:
          name: gluten-jars
          path: |
            ./target/
